.main-container {
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 4rem);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  .game-mode-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-left: 0;

    &__item {
      width: 100%;

      .common-btn {
        width: 100%;
      }
    }
  }
}
