.sidenav {
  height: calc(100vh - var(--header-height));
  width: var(--sidenav-close-width);
  box-sizing: border-box;
  background-color: black;
  transition: 0.25s all cubic-bezier(.36, -0.01, 0, .77);
  padding: 2rem 1rem;
  position: fixed;

  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      li {
        opacity: 1;
        .link-icon {
          width: 30px;
        }
      }

      li:hover {
        opacity: 0.5;
        transition: all 0.25s ease;
      }
    }
  }
}

.sidenav:hover {
  width: var(--sidenav-open-width);
}
