<aside class="sidenav" [ngClass]="{'sidenav--open': isSidenavOpen}">
  <nav>
    <ul>
      <li>
        <a routerLink="" (click)="sidenavToggle()">
          <img class="link-icon" src="assets/icons/gaming.png" alt="gamepad">
          <span class="link-text">PLAY GAME</span>
        </a>
      </li>
      <li>
        <a routerLink="settings" (click)="sidenavToggle()">
          <img class="link-icon" src="assets/icons/renewable-energy.png" alt="settings">
          <span class="link-text">SETTINGS</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
<div class="mask" (click)="sidenavToggle()"></div>
