<aside class="sidenav">
  <nav>
    <ul>
      <li>
        <a routerLink="">
          <img class="link-icon" src="assets/icons/home.png" alt="home">
          <span class="link-text">HOME</span>
        </a>
      </li>
      <li>
        <a routerLink="game">
          <img class="link-icon" src="assets/icons/gamepad.png" alt="gamepad">
          <span class="link-text">PLAY GAME</span>
        </a>
      </li>
      <li>
        <a routerLink="settings">
          <img class="link-icon" src="assets/icons/settings.png" alt="settings">
          <span class="link-text">SETTINGS</span>
        </a>
      </li>
      <li>
        <a routerLink="about">
          <img class="link-icon" src="assets/icons/document.png" alt="document">
          <span class="link-text">ABOUT</span>
        </a>
      </li>
    </ul>
  </nav>
<div class="mask"></div>
</aside>
