<header class="header">
  <img (click)="toggleSidenav()" class="header__menu" src="assets/icons/burger-menu.png">
  <!-- <img (click)="back()" class="header__menu" src="assets/icons/burger-menu.png"> -->
  <h1 class="header__title">Battleship</h1>
  <!-- <div class="header__switch-container">
      <label class="color-mode-switch">
        <input [ngModel]="darkMode()" type="checkbox" id="color_mode" (ngModelChange)="toggleDarkMode()">
        <label for="color_mode" data-on="Dark" data-off="Light" class="color-mode-switch-inner"></label>
      </label>
      <img class="color-mode-switch-icon" (click)="toggleDarkMode()"  src="assets/icons/dark-mode.png" alt="dark-mode">
  </div> -->
</header>
