.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  box-sizing: border-box;
  padding: 1em;
  position: relative;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: all 0.25s ease;
  z-index: 10;

  border-image: linear-gradient(to left,
  var(--bg-color) 1%,
  #8EABC9 50%,
  var(--bg-color) 100%) 0 0 100% 0/0 0 3px 0 stretch;

  &__image {
    width: 90%;
    max-width: 325px;
  }
}
