::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 1px solid #555555;
}

.page-container {
  display: flex;
  flex-direction: row;

  .content-container {
    height: calc(100vh - var(--header-height));
    padding-left: var(--sidenav-close-width);
    flex-grow: 1;
    overflow-y: auto;

    &__main {
      padding: 2rem 4rem;
      min-height: calc(100% - var(--header-height) - var(--footer-height));
    }
  }
}
