.page-container {
  display: flex;
  flex-direction: column;
  color: var(--c-text);
  background-color: var(--c-bg);

  .content-container {
    height: calc(100vh - var(--header-height));
    flex-grow: 1;
    overflow-y: auto;

    &__main {
      padding: var(--sp-6);
      min-height: calc(100% - var(--header-height) - var(--footer-height));
    }
  }
}
