app-header,
app-footer {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}

app-header { top: 0; }
app-footer  { bottom: 0; }

.page-content {
  position: fixed;
  top: var(--header-height);
  bottom: var(--footer-height);
  left: 0;
  right: 0;
  overflow-y: auto;
  background: var(--c-bg);
  color: var(--c-text);
}
