<div class="signup-container">
  <h1 class="signup-container__title">Sign Up</h1>
  <form [formGroup]="signupForm" class="signup-container__form" (ngSubmit)="onSignUpClick()">
    <!-- ID -->
    <label for="id">ID</label>
    <input id="id" formControlName="id" type="text" placeholder="ID">
    @if (signupForm.get('id')?.touched && signupForm.get('id')?.errors?.['required']) {
      <div class="validation-error">ID is required.</div>
    }
    @if (signupForm.get('id')?.touched && signupForm.get('id')?.errors?.['invalidTaiwanId']) {
      <div class="validation-error">ID is invalid.</div>
    }
    <!-- Username -->
    <label for="username">Username</label>
    <input id="username" formControlName="username" type="text" placeholder="Username">
    @if (signupForm.get('username')?.touched && signupForm.get('username')?.errors?.['required']) {
      <div class="validation-error">Username is required.</div>
    }
    <!-- Password -->
    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password" placeholder="Password">
    @if (signupForm.get('password')?.touched && signupForm.get('password')?.errors?.['required']) {
      <div class="validation-error">Password is required.</div>
    }
    <!-- Sign up -->
    <button type="submit" [disabled]="this.signupForm.invalid">Sign up</button>
  </form>
  <p class="signup-container__link"> <a routerLink="/login" class="signup-container__link">Back to Login</a></p>
</div>
