.footer {
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  letter-spacing: 2px;
  text-indent: 2px;
  color: var(--c-text-muted);

  border-image: linear-gradient(
    to left,
    var(--c-bg)    0%,
    var(--c-accent) 50%,
    var(--c-bg)    100%
  ) 100% 0 0 0 / 1px 0 0 0 stretch;
}
