<div class="start-button-container" [ngStyle]="{ 'width': boardDimensionPx }">
  <button (click)="startGame()" class="start-button-container__button" role="button">START GAME</button>
</div>

<div class="main">

  <div class="board" [ngStyle]="{ 'width': boardDimensionPx, 'height': boardDimensionPx }"
    [ngClass]="{ 'board--disable': remainingShipsCount === 0 || missileCount === 0 }">
    <div class="board__coordinates board__coordinates--numbers" [ngStyle]="{ 'width': boardDimensionPx }">
      <div *ngFor="let item of [].constructor(boardDimension); index as i">
        {{ i + 1 }}
      </div>
    </div>
    <div class="board__coordinates board__coordinates--letters" [ngStyle]="{ 'height': boardDimensionPx }">
      <div *ngFor="let item of [].constructor(boardDimension); index as i">
        {{ alphabetLetters[i] }}
      </div>
    </div>
    <div class="board__cell" [ngClass]="{
        'board__cell--shipwreck': cell.hasBeenShot && cell.ship,
        'board__cell--has-been-shot': cell.hasBeenShot && !cell.ship,
        'board__cell--ship': cell.ship
      }" *ngFor="let cell of boardCells; index as i" (click)="shoot(i)">
    </div>
  </div>

  <div class="game-info">
    <div class="game-info__missile-count">MISSILE COUNT: {{ missileCount }}</div>
    <div class="game-info__remaining-ships">THE NUMBER OF SHIPS LEFT: {{ remainingShipsCount }}</div>
    <div class="game-info__message">{{ message }}</div>
  </div>

</div>
